# Assignment

Ans 1-
Def keyword is used to create a function

In [1]:
def odd():
    l=[]
    for i in range(1,26,1):
        if i%2!=0:
            l.append(i)
    return l

In [2]:
odd()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

Ans 2 - 
--> *args is used to input series of data at once and gave multiple inputs to def function to work on
--> **kwargs is used to input data in a dict format (keys : values) and give mmultiple inputs to the def function to work on

In [3]:
# Example of *args
def add(*args):
    l=[]
    for i in args:
        i=i+5            # adding 5 in every values of "args" 
        l.append(i)     # insert changed data in list
    return l

In [4]:
add(1,2,3,4,4,5,5,5,5,8)

[6, 7, 8, 9, 9, 10, 10, 10, 10, 13]

In [5]:
# Example of **kwargs
def add1(**kwargs):
    d={}
    for k,v in kwargs.items():       # extract the value from "kwargs" and insert data keys in k and values in v
        v=v+5                        # adding 5 in every value in "kwargs"
        d[k]=v                       # inserting data in d (dictionary)
    return d

In [6]:
add1(key1 = 5,key2 = 10 ,key3 = 15,key4 =20)

{'key1': 10, 'key2': 15, 'key3': 20, 'key4': 25}

Ans 3 - 
An iterator is an object which is used to break the collection of data into a into single digits and it is used in backhand side of the for loop .Iterable only can become a iterator in python ex-(list ,touple ,dictionary ,set) and display it one by one.

To iniciallize the iterator "iter()" method is used to make a iterable an iterator in python

For the iteration "next()" method is used to show data one by one

In [7]:
l=[2,4,6,8,10,12,14,16,18,20]
l=iter(l)             # only the iterable can become a iterator
for i in range(5):            
    print(next(l))    # next in loop print breaked values again and again

2
4
6
8
10

Ans 4 -
Generator function is used to generate a sequence of values and it stores the values in variable part by part , because of that it did'nt have to process the data at once and can be use in large data .Genrator is by default a iterator.

Instead of "return" statement "yield" statement is used to print the generator data which you want to gave

In [8]:
# fibonacci series
def test(n):
    f,s=0,1
    yield f
    yield s
    for i in range(2,n,1):     # we yield 0,1 as f,s so we start the loop from 2
        t=f+s
        yield t
        f,s=s,t

In [9]:
n=int(input("enter the ending value ="))
for i in test(n):
    print(i)

enter the ending value = 15

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

Ans 5 -

In [10]:
def prime():
    sieve = [True] * 1000
    for i in range(2, 1000):
        if sieve[i]:
            yield i
            for j in range(i*i, 1000, i):
                sieve[j] = False

In [11]:
prime=prime()
for i in range(20):
    print(next(prime))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

Ans 6 -

In [12]:
def fibo(n):
    f,s=0,1
    yield f
    yield s
    i=2
    while i<n:
        t=f+s
        yield t
        f,s=s,t
        i=i+1

In [13]:
for i in fibo(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

Ans 7 -

In [14]:
def test1(n):
    l=[]
    for i in n:
        l.append(i)     # to break the str into words in the loop and add those words in list 
    yield l

In [15]:
n="pwskills"
for i in test1(n):
    print(i)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

Ans 8 -

In [22]:
n=int(input("enter the value you want to input ="))
rev=0
m=n
while n>0:
    digit=n%10
    rev=(rev*10)+digit
    n=n//10
if(rev==m):
    print("this is a pallindrome")
else:
    print("this is not a pallindrome")

enter the value you want to input = 1221

this is a pallindrome

Ans 9 -

In [33]:
odd=[i for i in range(1,101) if i%2!=0]
odd

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]